.dataTitle {
    font-size: 14px !important;
    font-weight: bold;
}
.dataField {
    font-size: 12px !important;
}
.dataSubtitle {
    font-weight: bold;
    font-size: 12px !important;
}

.spinnerCenter {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 50%;
}